        <div
          class="bg-white border border-gray-100 rounded-2xl p-4 shadow-sm hover:shadow-md transition-shadow duration-300 group font-sans"
        >
          <div class="relative overflow-hidden mb-4">
            <img
              [src]="product().imageCover"
              [alt]="product().title"
              class="w-full h-auto object-contain"
            />

            <!--  ! ----------- Icons  Heart ! ----------- ....  -->
            <div class="absolute top-2 right-2 flex flex-col gap-2">
            <!-- Heart Button -->
            <button
            (click)="toggleWishlist(product()._id)"
            class="w-10 h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center transition-all hover:scale-110"
            [class.text-red-500]="isInWishlist()"
            [class.hover:bg-red-50]="isInWishlist()"
            [class.hover:text-red-600]="isInWishlist()"
            >
             <i 
             class="fa-heart text-xl transition-all"
             [class.fas]="isInWishlist()"
             [class.far]="!isInWishlist()"
             ></i>
             </button>

              <button
                class="w-10 h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
              >
                <i class="fas fa-sync-alt"></i>
              </button>

              <button
                [routerLink]="['/details',product()._id ,product().slug]"
                class="w-10 cursor-pointer h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>

          <div class="space-y-1">
            <p class="text-xs text-gray-400 tracking-wide">{{ product().category.name }}</p>

            <h3
              class="text-lg font-medium text-slate-800 hover:text-emerald-600 cursor-pointer transition-colors"
            >
              {{ product().title }}
            </h3>

            <div class="flex items-center gap-1">
              <div class="flex text-yellow-400 text-xs gap-0.5">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star text-gray-300"></i>
              </div>
              <span class="text-xs text-gray-400 font-medium">
                 {{ product().ratingsAverage }} ({{ product().ratingsQuantity }})</span
              >
            </div>

            <div class="flex items-center justify-between pt-2">
              <div class="flex flex-col">
                <span class="text-lg font-medium text-slate-900"> {{product().price}} EGP</span>
              </div>

              <button
              (click)="addToCart(product().id)"
                class="w-10 h-10 cursor-pointer bg-emerald-600 text-white rounded-lg flex items-center justify-center hover:bg-emerald-700 transition-colors shadow-sm active:scale-95"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>